.picto-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: var(--empty-slot);

    font-size: 10px;
    font-weight: bold;

    width: 120px;
    height: 90px;

    border-radius: 10px;
    border-color: var(--grey-border);
    border-width: 1px;
    border-style: solid;

    transition: background-color 2s ease;
}